*div{
    box-sizing: border-box;
}

html{
    background-color: hsl(212, 45%, 89%) ;
    font-family: 'outfit',  sans-serif;
    text-align: center;
    font-size: 15px;
}

.container {
    background-color:hsl(0, 0%, 100%) ;
    width: 250px;
    margin: 15vh auto;
    padding: 11px 8px;
    border-radius: 16px;
    box-shadow: 4px 40x 10px gray;
 
}

.container img{
    border-radius: 16px;
    width:inherit;
    height: auto;
}

h1{
    font-size: 1.6rem;
    color: hsl(218, 44%, 22%);
}

p{
    color: hsl(220, 15%, 55%);
}
